@import "./Components/Header/header.styles.scss";
@import "./Components/List/list.styles.scss";
@import "./Components/Map/map.styles.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::placeholder {
  color: rgba(255, 255, 255, 0.684);
}

.app {
  height: 100vh;
  font-family: sans-serif;
}

.layout {
  display: flex;
  height: calc(100% - (57.5px));
  min-height: 600px;
}
